@page
@model RazorPagesGeneral.Pages.HallCinemas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HallCinema[0].NumberHall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallCinema[0].CountRows)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallCinema[0].CountSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HallCinema)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberHall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountRows)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountSeats)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("moderator"))
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
